.socialni-site {
    display: flex;
    gap: 0.5rem;
    
    &__facebook, 
    &__instagram { 
        display: flex;
        
        &:hover, 
        &:focus {
            box-shadow: 0 0 0.5rem rgba(#000000, 0.4);
        }
    }
}